section {
  width: 100%;
}

div {
  display: block;
  height: 300px;
  border: 1px dotted #000;
  background: #888;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  section {
    width: 1500px;
  }

  div {
    width: 300px;
    float: left;
  }
}